/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --secondary-color: #ffffff;
  --primary-background-color: #272727;
  --secondary-background-color: #1c4c97;
  --primary-text-color: rgb(39, 39, 39);
  --secondary-text-color: rgb(208 208 208);
  --text-color: rgb(106, 106, 106);
  --border-color: rgb(78 78 78);
  --secondary-border-color: rgb(230 230 230);
  --brand-color: #ff7b16;
  --primary-site-background-color: #fff;
  --primary-text-color: #272727;
  --text-color-light: #fff;
  --primary-subtitle-color: #555;
  --border-delimiter-color: #e0e0e0;
  --menu-text-color: rgb(255 255 255 / 76%);
  --description-text-color: rgba(255, 255, 255, 0.8);
  --primary-bar-background-color: #272727;
  --secondary-bar-background-color: #1c4c97;
  --primary-button-color: #1c4c97;
  --btn-primary-alt-hover-color: #fff;
  --btn-primary-alt-hover-bg-color: #272727;
  --content-container-size: 1200px;
  --content-gutter: 24px;
  --burger-line-size: 2px;
  --hero-title-size-mobile: 60px;
  --hero-title-size-tablet: 84px;
  --hero-title-size: 109px;
  --subtitle-size-mobile: 19px;
  --caption-size-mobile: 14px;
  --static-icon-color: #6a6a6a;
  --secondary-section-bg-color: #f8f3ef;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-site-background-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: var(--content-container-size);
  margin: auto;
}
