/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --primary-color: #ff6600;
  --secondary-color: #ffffff;
  --primary-background-color: #272727;
  --secondary-background-color: #1c4c97;
  --secondary-text-color: rgb(208 208 208);
  --border-color: rgb(78 78 78);
}

img {
  display: block;
  max-width: 100%;
}
