.in-store-services {
  background: var(--secondary-section-bg-color);
}

.in-store-services__wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 120px 20px;
}

.in-store-services__title {
  font-size: 12px;
  color: var(--brand-color);
  text-transform: uppercase;
  text-align: center;
}

.in-store-services__subtitle {
  margin-top: 10px;
  line-height: 76px;
  text-align: center;
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;

  @media (min-width: 768px) {
    font-size: 52px;
  }

  @media (min-width: 992px) {
    font-size: 64px;
  }
}

.in-store-services__subtitle span {
  color: var(--secondary-background-color);
}

.in-store-services__description {
  text-align: center;
  font-size: 19px;
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--secondary-border-color);
  margin-bottom: 15px;
}
.in-store-services__list {
  display: flex;
  gap: 3%;
}
.in-store-services__list__item:last-child {
  display: none;
}
