.promo-offers {
  padding-top: 15px;
  padding-bottom: 30px;
}

.promo-offers h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

.promo-offers__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.promo-shipping__article,
.promo-product-offer__aside {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  height: auto; /* new */
  padding-left: 60px; 
}
.promo-shipping__article {
  background-image: url("../images/playing_room.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
}

.promo-product-offer__aside {
  background-image: url("../images/gray-haired-man-gaming.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
}

.promo-shipping__heading {
  color: var(--primary-text-color);
}

.promo-shipping__highlight {
  color: var(--secondary-background-color);
}

.promo-shipping__description {
  font-size: 1.1875rem;
  color: var(--border-color);
  font-weight: 600;
}

.promo-shipping__features {
  font-size: 0.938rem;
  color: var(--text-color);
}

.promo-shipping__features li::marker {
  color: var(--secondary-background-color);
}

.promo-shipping__button,
.promo-product-offer__button {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: var(--brand-color);
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.promo-shipping__button:hover {
  background-color: var(--btn-primary-alt-hover-bg-color); /* new */
}

.promo-product-offer__button:hover {
  background-color: var(--btn-primary-alt-hover-color);
  color: var(--hover-bg-color);
}

.promo-product-offer__title {
  color: var(--secondary-color);
}

.promo-product-offer__highlight {
  color: var(--brand-color);
}

.promo-product-offer__price {
  font-size: 1.4375rem;
  color: var(--secondary-background-color);
  font-weight: bold;
}

.promo-product-offer__old-price {
  text-decoration: line-through;
  font-size: 1.0625rem;
  color: var(--description-text-color);
}

.promo-product-offer__promo-info {
  font-size: 0.938rem;
  color: var(--description-text-color);
}

@media (min-width: 600px) {
  .promo-offers__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
