/* Join us now section */

.join-us__fieldset {
  background-image: url('../images/backgroundforjoin.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  text-align: left;
  border: none;
  border-radius: 15px;
}

.join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.join-us__form {
  display: flex;
  justify-content: flex-start; 
}

.join-us__heading {
  margin-bottom: 20px; 
}

.join-us__highlight {
  color: #ff7b16;
}

.join-us__offer {
  color: #7d6a7a; 
}

.join-us__btn {
  padding: 10px 20px;
  border-radius: 5px; 
  background-color: #1c4c97; 
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.join-us__btn:hover {
  background-color: #0056b3; 
}